# Google Sheets API Credentials
# 1. Rename this file to .env.local
# 2. Get the Sheet ID from your Google Sheet URL (e.g., https://docs.google.com/spreadsheets/d/THIS_IS_THE_ID/edit)
# 3. Get the client email and private key from the JSON file you downloaded from your Google Cloud service account.
# 4. Make sure to wrap the private key in double quotes.

GOOGLE_SHEETS_CLIENT_EMAIL=your-service-account-email@your-project.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SHEET_ID=your_sheet_id_here
